*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
button{
    padding: 10px;
    border-radius: 5px;
    font-size: 22px;
    min-width: 150px;
}